replicaCount: 2

image:
  repository: bomeravi/react-portfolio
  tag: v1.2.3
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 80

resources: {}

ingress:
  enabled: true
  className: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - host: saroj.digi.saroj.name.np
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - saroj.digi.saroj.name.np
      secretName: saroj-tls
