replicaCount: 2

image:
  repository: bomeravi/react-portfolio
  tag: v1.2.3
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 80

resources: {}

# Pod resource requests/limits
resources:
  limits:
    cpu: "500m"
    memory: "256Mi"
  requests:
    cpu: "250m"
    memory: "128Mi"

# Horizontal Pod Autoscaler settings
hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  # target CPU utilization for scaling (percent)
  targetCPUUtilizationPercentage: 60

ingress:
  enabled: true
  className: "nginx"
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - host: saroj.digi.saroj.name.np
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - saroj.digi.saroj.name.np
      secretName: saroj-tls
